<h1 align = "center">Log In</h1>


<%= form_for :session, url:login_path do |f| %>

	<div class = "field">
		<%= f.label :email %><br>
		<%= f.email_field :email, placeholder: "enter email"%>
	</div>
	<div class = "field">
		<%= f.label :password  %><br>
		<%= f.password_field :password, placeholder: "Enter password",autocomplete: "off" %>
	</div>
	<div class="action">
  	<%= f.submit "Log In" %>
	</div>
<%=  link_to "Back to expenses listing", expenses_path %> 
<% end %>