<%= render 'shared/errors', obj: @rec_expense %>
<div class = "row">
  <div class="col-xs-12">
    <%= form_for( @rec_expense , :authenticity_token => true, :html => {class: "form-horizontal", role: "form"}) do |f| %>
  
      <div class="form-group">
        <div class = "col-sm-2 control-label">
          <%= f.label :expense_name %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :name, class: "form-control",placeholder: "Enter the expense name" %>
        </div>
      </div>
      
      <div class="form-group">
      <div align="center"class="control-label col-sm-4">
        <%= f.label :duration %>
      </div>
      <div class="col-xs-4">

        <%= f.select :duration , [['daily'], ['weekly'], ['monthly'], ['yearly']] %>
      </div>
    </div>
    <div class="form-group">
      <div align="center"class="control-label col-sm-4">
        <%= f.label :Start_date %>
      </div>
      <div class="col-xs-4">
        <%= f.date_select :reminder_date,:start_year => Date.current.year, :end_year => 2000, order: [:day, :month, :year],class: "form-control" %>
      </div>
    </div>
     
      <div class="form-group">
        <div  align="center">
          <%= f.submit class: 'btn btn-lg btn-color hovering'  %>
        </div>
      </div>
      <div class="col-xs-4 col-xs-offset-4" align="center">
        [<%=  link_to "Back", expenses_path %>]
      </div> 
    <% end %>
  </div>
</div>