<% if @expense.errors.any? %>
<% @expense.errors.full_messages.each do |msg| %>
<ul>
  <li><%= msg%></li>
</ul>
<% end %>
<% end %>


<%= form_for @expense do |f| %>
	<div class = "field">
		<%= f.label :expense_name %><br>
		<%= f.text_field :expense_name %>
	</div>
	<div class = "field">
		<%= f.label :amount %><br>
		<%= f.text_field :amount%>
	</div>
	<div class = "field">
		<%= f.label :Date  %><br>
		<%= f.text_field :date, placeholder: "dd/mm/yyyy" %>
	</div>
<div class="action">
  <%= f.submit %>
</div>
<%=  link_to "Back", expenses_path %> 
<% end %>