<h1 align="center">Expenses made in <%= Date.today.year %> : <%= Expense.where("date > ? AND date < ? AND user_id = ?", Time.now.beginning_of_year, Time.now.end_of_year, current_user).sum(:amount) %></h1>
<% @task = @expenses.group_by {|t| t.date.beginning_of_month} %>
<%@task.each do |m,e| %>

	<div class ="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class ="well well-lg">
					<div class="datedisplay" class="rounded">
						<b><span style="padding: 5px"><%= m.strftime('%B') %></span></b>
					</div>
					<br/>
					<div class="expenselist">
			   			<table align="center" class ="exptable">	

								<tr class="headingrow">
									<th class ="headdef">Expense</th>
									<th class= "headdef">Amount</th>
									<th class= "headdef">Category</th>
									<th class= "headdef">Date</th>	
								</tr>
							<% @sum = 0 %>
							<% for t in e %>
									<tr>
										<td class="tdname"><%= t.name %></td>
										<td class="tdamt"><%= t. amount %></td>
										<td class="tdamt"> <%=t.category.name if t.category %></td> 
										<td class="tdamt"> <%=t.date.to_s(:short) %></td>
										<% @sum = @sum + t.amount %>
									</tr>
							<% end %>
						</table>
						<br/>
					</div>
					<div class ="well total">	
						<p>Total expenditure in <%= m.strftime('%B') %>: <%= @sum %> </p>
					</div>
				</div>
			</div>	
	</div>
<% end %>